<header class="text-white h-12 py-4 h-auto">
    <!-- Navbar (left side) -->
    <div style="width: 275px;">
        <div class="overflow-y-auto fixed h-screen pr-3" style="width: 275px;">
            <NavLeftComponent />
            <UserNavComponent />
        </div>
    </div>
</header>