﻿ <section class="w-3/5 border border-y-0 border-gray-800" style="max-width:600px;">
    <ProfileCard />
    <ul class="list-none">
        @for (int i = 0; i < 10; i++)
        {
            <li>
                <TweetComponent />
            </li>
        }
    </ul>
</section>