<aside class="w-2/5 h-12 position-relative">
    <!--Aside menu (right side)-->
    <div style="max-width:350px;">
        <div class="overflow-y-auto fixed  h-screen">
            <SearchRight />
            <TrendingRight />
        </div>
    </div>
</aside>