<hr class="border-gray-800">
<!--third trending tweet-->
<div class="flex">
    <div class="flex-1">
        <p class="px-4 ml-2 mt-3 w-48 text-xs text-gray-400">3 . Rock . Trending</p>
        <h2 class="px-4 ml-2 w-48 font-bold text-white">#Ferrari</h2>
        <p class="px-4 ml-2 mb-3 w-48 text-xs text-gray-400">5,586 Tweets</p>
    </div>
    <div class="flex-1 px-4 py-2 m-2">
        <a href="" class=" text-2xl rounded-full text-gray-400 hover:bg-gray-800 hover:text-blue-300 float-right">
            <svg class="m-2 h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
            <path d="M19 9l-7 7-7-7"></path>
            </svg>
        </a>
    </div>
</div>