<div class="absolute" style="bottom: 2rem;">
    <div class="flex-shrink-0 flex hover:bg-gray-800 rounded-full px-4 py-3 mt-12 mr-2">
        <a href="/profile" class="flex-shrink-0 group block">
            <div class="flex items-center">
                <div>
                    <img class="inline-block h-10 w-10 rounded-full" src="https://picsum.photos/400/400" alt="">
                </div>
                <div class="ml-3">
                <p class="text-base leading-6 font-medium text-white">
                    @username
                </p>
                <p class="text-sm leading-5 font-medium text-gray-400 group-hover:text-gray-300 transition ease-in-out duration-150">
                    @usertag
                </p>
                </div>
            </div>
        </a>
    </div>
</div>

@code
{
    string username = "Sanjay";
    string usertag = "@SSanjay";
}