@page "/profile"

<div class="p-relative h-screen" style="background-color: #15202b">
   <div class="flex justify-center">
      <LeftMenu />
      <main role="main">
         <div class="flex" style="width: 990px;">
            <MainProfileComponent />
            <RightMenu />
         </div>
      </main>
   </div>
</div>

<style>

    .overflow-y-auto::-webkit-scrollbar, .overflow-y-scroll::-webkit-scrollbar, 
    .overflow-x-auto::-webkit-scrollbar, .overflow-x::-webkit-scrollbar,
    .overflow-x-scroll::-webkit-scrollbar, .overflow-y::-webkit-scrollbar, 
    body::-webkit-scrollbar {
      display: none;
    }

    .overflow-y-auto, .overflow-y-scroll, .overflow-x-auto, .overflow-x,
    .overflow-x-scroll, .overflow-y, body {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .bg-dim-700 {
      --bg-opacity: 1;
      background-color: #192734;
    }

    html, body {
      margin: 0;
      background-color: #15202b;
    }

    svg.paint-icon {
      fill: currentcolor;
    }
</style>